h1,h2{
	color:#A4A400;
	background-color:#F0F0F0;
	text-decoration:underline;
	font-family:"Lucida Sans Unicode", Helvetica, Arial, sans-serif; 
	font-size:18pt;
}
h1{
	text-align:center;
	font-size:22pt;
}
p{
	color:#404040;
	font-size:11pt;
	font-family:Georgia, Garamond, serif;
}

a{
   color: #A4A400 ;	
}

u:hover + div{
 display: block;
}
h2{
	border-top: 0.25em solid gray;
}

p.comment{
	background-color:#FFFFA8;
	font-style:italic;
} 
body{
	background-image:url("pie/silverware.jpg");
}

ul {
  list-style-image: url('pie/pie_icon.gif');
}